<!--The content below is only a placeholder and can be replaced.-->
<div class="center cool-font">
  <h1>Louisville, KY Public Salary Searcher</h1>
</div>

<app-upload></app-upload>

<div class="center cool-font" *ngIf="record">
  <form class="pure-form pure-form-aligned">
    <fieldset>

      <div class="pure-control-group" *ngFor="let column of columns">
        <span *ngIf="column.visible == 'true'">
          <label class="cool-font" for="name">{{column.displayName}}</label>
          <input id="name" type="text" name="FirstName" [(ngModel)]="record[column.columnName]" placeholder="First Name">
        </span>
      </div>

      <!--<div class="pure-control-group">
        <label class="cool-font" for="name">Last Name</label>
        <input id="name" type="text" name="LastName" [(ngModel)]="record.LastName" placeholder="Last Name">
      </div>

      <div class="pure-control-group">
        <label class="cool-font" for="password">Salary</label>
        <input id="password" name="AnnualRate" [(ngModel)]="record.AnnualRate" placeholder="Salary">
      </div>

      <div class="pure-control-group">
        <label class="cool-font" for="email">Job Title</label>
        <input id="email" name="JobTitle" [(ngModel)]="record.JobTitle" placeholder="Job Title">
      </div>-->

      <div class="pure-controls center">
        <button (click)="Send()" class="pure-button pure-button-primary">Search</button>
      </div>
    </fieldset>
  </form>
</div>

<!--<input type="text" [(ngModel)]="record.EmployeeName" placeholder="Name" /><br/>
<input type="text" [(ngModel)]="record.AnnualRate" placeholder="Annual Rate" /><br/>
<input type="text" [(ngModel)]="record.JobTitle" placeholder="Job Title" /><br/>
<button (click)="Send()">Submit</button>-->
<div *ngIf="records && records.length == 0" class="center cool-font">
  <h2>No records found</h2>
</div>
<table class="pure-table pure-table-horizontal" *ngIf="records && records.length > 0">
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{column.columnName}}</th>
    </tr>
  </thead>

  <tbody>
    <tr class="pure-table-odd" *ngFor="let record of records">
      <td *ngFor="let column of columns" [innerHTML]="record[column.columnName]"></td>
    </tr>
  </tbody>
</table>
